In [18]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from sklearn.metrics import mean_squared_error
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [19]:
#Download the data

In [20]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [21]:
concrete_data.shape

(1030, 9)

In [22]:
#Let's check the dataset for any missing values.
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [23]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

# Split data into predictors and target
The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [24]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [25]:
#Let's do a quick sanity check of the predictors and the target dataframes.
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [26]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [27]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [28]:
#Let's save the number of predictors to _n_cols_ since we will need this number when building our network.
n_cols = predictors_norm.shape[1] # number of predictors

In [29]:
## Build a Neural Network
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(40, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(40, activation='relu'))
    model.add(Dense(40, activation='relu'))
    model.add(Dense(40, activation='relu'))
    model.add(Dense(40, activation='relu'))
    model.add(Dense(40, activation='softmax'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.2, random_state=42)

In [31]:
# build the model
model = regression_model()

In [32]:
## Train and Test the Network

# build the model
model.fit( X_test, y_test,epochs=150, verbose=2)

Epoch 1/150
7/7 - 1s - loss: 1519.0342
Epoch 2/150
7/7 - 0s - loss: 1507.5375
Epoch 3/150
7/7 - 0s - loss: 1505.6669
Epoch 4/150
7/7 - 0s - loss: 1504.6106
Epoch 5/150
7/7 - 0s - loss: 1503.5356
Epoch 6/150
7/7 - 0s - loss: 1502.4974
Epoch 7/150
7/7 - 0s - loss: 1501.4489
Epoch 8/150
7/7 - 0s - loss: 1500.4026
Epoch 9/150
7/7 - 0s - loss: 1499.3514
Epoch 10/150
7/7 - 0s - loss: 1498.3239
Epoch 11/150
7/7 - 0s - loss: 1497.3132
Epoch 12/150
7/7 - 0s - loss: 1496.2699
Epoch 13/150
7/7 - 0s - loss: 1495.2644
Epoch 14/150
7/7 - 0s - loss: 1494.2382
Epoch 15/150
7/7 - 0s - loss: 1493.2444
Epoch 16/150
7/7 - 0s - loss: 1492.2482
Epoch 17/150
7/7 - 0s - loss: 1491.2277
Epoch 18/150
7/7 - 0s - loss: 1490.2317
Epoch 19/150
7/7 - 0s - loss: 1489.2369
Epoch 20/150
7/7 - 0s - loss: 1488.2302
Epoch 21/150
7/7 - 0s - loss: 1487.2500
Epoch 22/150
7/7 - 0s - loss: 1486.2555
Epoch 23/150
7/7 - 0s - loss: 1485.2705
Epoch 24/150
7/7 - 0s - loss: 1484.2865
Epoch 25/150
7/7 - 0s - loss: 1483.2993
Epoch 26/150
7/7 - 0s - loss: 1482.3225
Epoch 27/150
7/7 - 0s - loss: 1481.3469
Epoch 28/150
7/7 - 0s - loss: 1480.3527
Epoch 29/150
7/7 - 0s - loss: 1479.3768
Epoch 30/150
7/7 - 0s - loss: 1478.4055
Epoch 31/150
7/7 - 0s - loss: 1477.4055
Epoch 32/150
7/7 - 0s - loss: 1476.4460
Epoch 33/150
7/7 - 0s - loss: 1475.4607
Epoch 34/150
7/7 - 0s - loss: 1474.4818
Epoch 35/150
7/7 - 0s - loss: 1473.5039
Epoch 36/150
7/7 - 0s - loss: 1472.5308
Epoch 37/150
7/7 - 0s - loss: 1471.5463
Epoch 38/150
7/7 - 0s - loss: 1470.5533
Epoch 39/150
7/7 - 0s - loss: 1469.5752
Epoch 40/150
7/7 - 0s - loss: 1468.6045
Epoch 41/150
7/7 - 0s - loss: 1467.6193
Epoch 42/150
7/7 - 0s - loss: 1466.6595
Epoch 43/150
7/7 - 0s - loss: 1465.6802
Epoch 44/150
7/7 - 0s - loss: 1464.7017
Epoch 45/150
7/7 - 0s - loss: 1463.7452
Epoch 46/150
7/7 - 0s - loss: 1462.7686
Epoch 47/150
7/7 - 0s - loss: 1461.8152
Epoch 48/150
7/7 - 0s - loss: 1460.8295
Epoch 49/150
7/7 - 0s - loss: 1459.8851
Epoch 50/150
7/7 - 0s - loss: 1458.9149
Epoch 51/150
7/7 - 0s - loss: 1457.9508
Epoch 52/150
7/7 - 0s - loss: 1457.0043
Epoch 53/150
7/7 - 0s - loss: 1456.0448
Epoch 54/150
7/7 - 0s - loss: 1455.0837
Epoch 55/150
7/7 - 0s - loss: 1454.1023
Epoch 56/150
7/7 - 0s - loss: 1453.1521
Epoch 57/150
7/7 - 0s - loss: 1452.1830
Epoch 58/150
7/7 - 0s - loss: 1451.2327
Epoch 59/150
7/7 - 0s - loss: 1450.2781
Epoch 60/150
7/7 - 0s - loss: 1449.3088
Epoch 61/150
7/7 - 0s - loss: 1448.3567
Epoch 62/150
7/7 - 0s - loss: 1447.3933
Epoch 63/150
7/7 - 0s - loss: 1446.4473
Epoch 64/150
7/7 - 0s - loss: 1445.4801
Epoch 65/150
7/7 - 0s - loss: 1444.5319
Epoch 66/150
7/7 - 0s - loss: 1443.5856
Epoch 67/150
7/7 - 0s - loss: 1442.6406
Epoch 68/150
7/7 - 0s - loss: 1441.6819
Epoch 69/150
7/7 - 0s - loss: 1440.7311
Epoch 70/150
7/7 - 0s - loss: 1439.7708
Epoch 71/150
7/7 - 0s - loss: 1438.8318
Epoch 72/150
7/7 - 0s - loss: 1437.8713
Epoch 73/150
7/7 - 0s - loss: 1436.9387
Epoch 74/150
7/7 - 0s - loss: 1435.9857
Epoch 75/150
7/7 - 0s - loss: 1435.0282
Epoch 76/150
7/7 - 0s - loss: 1434.1050
Epoch 77/150
7/7 - 0s - loss: 1433.1501
Epoch 78/150
7/7 - 0s - loss: 1432.1968
Epoch 79/150
7/7 - 0s - loss: 1431.2686
Epoch 80/150
7/7 - 0s - loss: 1430.3319
Epoch 81/150
7/7 - 0s - loss: 1429.3811
Epoch 82/150
7/7 - 0s - loss: 1428.4257
Epoch 83/150
7/7 - 0s - loss: 1427.4899
Epoch 84/150
7/7 - 0s - loss: 1426.5508
Epoch 85/150
7/7 - 0s - loss: 1425.5862
Epoch 86/150
7/7 - 0s - loss: 1424.6486
Epoch 87/150
7/7 - 0s - loss: 1423.6954
Epoch 88/150
7/7 - 0s - loss: 1422.7615
Epoch 89/150
7/7 - 0s - loss: 1421.8120
Epoch 90/150
7/7 - 0s - loss: 1420.8905
Epoch 91/150
7/7 - 0s - loss: 1419.9330
Epoch 92/150
7/7 - 0s - loss: 1419.0039
Epoch 93/150
7/7 - 0s - loss: 1418.0837
Epoch 94/150
7/7 - 0s - loss: 1417.1294
Epoch 95/150
7/7 - 0s - loss: 1416.2051
Epoch 96/150
7/7 - 0s - loss: 1415.2670
Epoch 97/150
7/7 - 0s - loss: 1414.3361
Epoch 98/150
7/7 - 0s - loss: 1413.3800
Epoch 99/150
7/7 - 0s - loss: 1412.4583
Epoch 100/150
7/7 - 0s - loss: 1411.5114
Epoch 101/150
7/7 - 0s - loss: 1410.5920
Epoch 102/150
7/7 - 0s - loss: 1409.6477
Epoch 103/150
7/7 - 0s - loss: 1408.7239
Epoch 104/150
7/7 - 0s - loss: 1407.7794
Epoch 105/150
7/7 - 0s - loss: 1406.8539
Epoch 106/150
7/7 - 0s - loss: 1405.9177
Epoch 107/150
7/7 - 0s - loss: 1404.9955
Epoch 108/150
7/7 - 0s - loss: 1404.0458
Epoch 109/150
7/7 - 0s - loss: 1403.1256
Epoch 110/150
7/7 - 0s - loss: 1402.1868
Epoch 111/150
7/7 - 0s - loss: 1401.2555
Epoch 112/150
7/7 - 0s - loss: 1400.3145
Epoch 113/150
7/7 - 0s - loss: 1399.3870
Epoch 114/150
7/7 - 0s - loss: 1398.4513
Epoch 115/150
7/7 - 0s - loss: 1397.5209
Epoch 116/150
7/7 - 0s - loss: 1396.5881
Epoch 117/150
7/7 - 0s - loss: 1395.6489
Epoch 118/150
7/7 - 0s - loss: 1394.7262
Epoch 119/150
7/7 - 0s - loss: 1393.7974
Epoch 120/150
7/7 - 0s - loss: 1392.8801
Epoch 121/150
7/7 - 0s - loss: 1391.9562
Epoch 122/150
7/7 - 0s - loss: 1391.0383
Epoch 123/150
7/7 - 0s - loss: 1390.1306
Epoch 124/150
7/7 - 0s - loss: 1389.2107
Epoch 125/150
7/7 - 0s - loss: 1388.2904
Epoch 126/150
7/7 - 0s - loss: 1387.3767
Epoch 127/150
7/7 - 0s - loss: 1386.4496
Epoch 128/150
7/7 - 0s - loss: 1385.5352
Epoch 129/150
7/7 - 0s - loss: 1384.6132
Epoch 130/150
7/7 - 0s - loss: 1383.6881
Epoch 131/150
7/7 - 0s - loss: 1382.7701
Epoch 132/150
7/7 - 0s - loss: 1381.8588
Epoch 133/150
7/7 - 0s - loss: 1380.9316
Epoch 134/150
7/7 - 0s - loss: 1380.0029
Epoch 135/150
7/7 - 0s - loss: 1379.0875
Epoch 136/150
7/7 - 0s - loss: 1378.1642
Epoch 137/150
7/7 - 0s - loss: 1377.2418
Epoch 138/150
7/7 - 0s - loss: 1376.3180
Epoch 139/150
7/7 - 0s - loss: 1375.3959
Epoch 140/150
7/7 - 0s - loss: 1374.4894
Epoch 141/150
7/7 - 0s - loss: 1373.5564
Epoch 142/150
7/7 - 0s - loss: 1372.6436
Epoch 143/150
7/7 - 0s - loss: 1371.7380
Epoch 144/150
7/7 - 0s - loss: 1370.8381
Epoch 145/150
7/7 - 0s - loss: 1369.9244
Epoch 146/150
7/7 - 0s - loss: 1369.0150
Epoch 147/150
7/7 - 0s - loss: 1368.1256
Epoch 148/150
7/7 - 0s - loss: 1367.2194
Epoch 149/150
7/7 - 0s - loss: 1366.3180
Epoch 150/150
7/7 - 0s - loss: 1365.4080

In [33]:

loss = model.evaluate(X_test, y_test)
y_hat = model.predict(X_test)
loss

7/7 [==============================] - 0s 1ms/step - loss: 1364.8655

1364.865478515625

In [ ]:
total_mean_squared_errors = 150
mean_squared_errors = []
for i in range(0,total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.2, random_state=4)
    model.fit(X_train, y_train, epochs=150, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_hat = model.predict(X_test)
    errors = mean_squared_error(y_test, y_hat)
    mean_squared_errors.append(errors)
    
mean = np.mean(np.array(mean_squared_errors))
STD = np.std(mean_squared_errors)
print("Mean: ",str(mean), "Standard Deviation:",str(STD))

MSE 1: 951.409912109375
MSE 2: 638.3656005859375
MSE 3: 433.8968811035156
MSE 4: 329.8431701660156
MSE 5: 303.11151123046875
MSE 6: 302.90625
MSE 7: 303.05657958984375
MSE 13: 303.0633850097656
MSE 14: 303.0689697265625
MSE 15: 303.06048583984375
MSE 16: 303.0616760253906
MSE 17: 303.0704345703125
MSE 18: 303.0740966796875
MSE 19: 303.0693359375
MSE 20: 303.06549072265625
MSE 21: 303.06536865234375
MSE 22: 303.0644836425781
MSE 23: 303.06793212890625
MSE 24: 303.0616760253906
MSE 25: 303.0675964355469
MSE 26: 303.065185546875
MSE 27: 303.0727844238281
MSE 28: 303.06573486328125
MSE 29: 303.0577697753906
MSE 30: 303.0647888183594
MSE 31: 303.0639343261719
MSE 32: 303.0637512207031
MSE 33: 303.0664367675781
MSE 34: 303.0530700683594
MSE 35: 303.0619812011719
MSE 36: 303.064453125
MSE 37: 303.0729064941406
MSE 38: 303.0647888183594
MSE 39: 303.0606689453125
MSE 40: 303.0588073730469
MSE 41: 303.0703125
MSE 42: 303.0667419433594
MSE 43: 303.0674743652344
MSE 44: 303.0724792480469
MSE 45: 303.0591735839844
MSE 46: 303.0773010253906
MSE 47: 303.0644226074219
MSE 48: 303.0656433105469
MSE 49: 303.0643310546875
MSE 50: 303.06842041015625
MSE 51: 303.0587158203125
MSE 52: 303.0598449707031
MSE 53: 303.0609130859375
MSE 54: 303.0594177246094
MSE 55: 303.0563049316406
MSE 56: 303.06927490234375
MSE 57: 303.0588073730469
MSE 58: 303.06427001953125
MSE 59: 303.06103515625
MSE 60: 303.06072998046875
MSE 61: 303.06573486328125
MSE 62: 303.0694580078125
MSE 63: 303.0655212402344
MSE 64: 303.05950927734375
MSE 65: 303.0640869140625
MSE 66: 303.0708312988281
MSE 67: 303.05523681640625
MSE 68: 303.05859375
MSE 69: 303.068115234375
MSE 70: 303.0646057128906
MSE 71: 303.069091796875
MSE 72: 303.0673828125
MSE 73: 303.05908203125
MSE 74: 303.0629577636719
MSE 75: 303.0672302246094
MSE 76: 303.0577697753906
MSE 77: 303.06201171875
MSE 78: 303.0660705566406
MSE 79: 303.0625305175781
MSE 80: 303.0577697753906
MSE 81: 303.06597900390625
MSE 82: 303.0565185546875
MSE 83: 303.0640563964844
MSE 84: 303.0703430175781
MSE 85: 303.0617980957031
MSE 86: 303.0530090332031
MSE 87: 303.06072998046875
MSE 88: 303.0653381347656
MSE 89: 303.06390380859375
MSE 90: 303.0694885253906
MSE 91: 303.0586242675781
MSE 92: 303.05908203125
MSE 93: 303.0740966796875
MSE 94: 303.0648498535156
MSE 95: 303.064697265625
MSE 96: 303.0634460449219
MSE 97: 303.0658264160156
MSE 98: 303.06292724609375
MSE 99: 303.0574645996094
MSE 100: 303.06842041015625
MSE 101: 303.0644836425781
MSE 102: 303.0509948730469
MSE 103: 303.0555114746094
MSE 104: 303.073486328125
MSE 105: 303.06439208984375
MSE 106: 303.0574951171875
MSE 107: 303.0669250488281
MSE 108: 303.0682373046875
MSE 109: 303.06005859375
MSE 110: 303.05731201171875
MSE 111: 303.06365966796875
MSE 112: 303.0639343261719
MSE 113: 303.06707763671875
MSE 114: 303.0638732910156
MSE 115: 303.0572204589844
MSE 116: 303.0661315917969
MSE 117: 303.0627136230469
MSE 118: 303.0570373535156
MSE 119: 303.0673522949219
MSE 120: 303.0696105957031
MSE 121: 303.0670471191406
MSE 122: 303.06396484375
MSE 123: 303.062255859375
MSE 124: 303.06640625
MSE 125: 303.06884765625
MSE 126: 303.0687255859375
MSE 127: 303.0694274902344
MSE 128: 303.059326171875
MSE 129: 303.0714416503906
MSE 130: 303.0632019042969
MSE 131: 303.0610046386719
MSE 132: 303.0625305175781
MSE 133: 303.0647888183594
MSE 134: 303.06793212890625
MSE 135: 303.06683349609375
MSE 136: 303.0621337890625
MSE 137: 303.06884765625
MSE 138: 303.06170654296875
MSE 139: 303.06500244140625
MSE 140: 303.0743408203125
MSE 141: 303.0663757324219
MSE 142: 303.0734558105469
MSE 143: 303.0664367675781
MSE 144: 303.06158447265625
MSE 145: 303.0610656738281
MSE 146: 303.06201171875