In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from sklearn.metrics import mean_squared_error
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

Download the data

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
#Let's check the dataset for any missing values.
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

## Split data into predictors and target
The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
#Let's do a quick sanity check of the predictors and the target dataframes.
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
#Let's save the number of predictors to _n_cols_ since we will need this number when building our network.
n_cols = predictors.shape[1] # number of predictors
n_cols

8

# Build a Neural Network

In [10]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='Adam', loss='mean_squared_error')
    return model

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=4)

In [12]:
# build the model
model = regression_model()

# Train and Test the Network

In [13]:
# build the model
model.fit( X_test, y_test,epochs=100, verbose=2)

Epoch 1/100
10/10 - 0s - loss: 90894.3594
Epoch 2/100
10/10 - 0s - loss: 63052.5508
Epoch 3/100
10/10 - 0s - loss: 41629.5703
Epoch 4/100
10/10 - 0s - loss: 25849.2969
Epoch 5/100
10/10 - 0s - loss: 15068.4854
Epoch 6/100
10/10 - 0s - loss: 8173.1108
Epoch 7/100
10/10 - 0s - loss: 4190.6753
Epoch 8/100
10/10 - 0s - loss: 2087.5771
Epoch 9/100
10/10 - 0s - loss: 1121.4939
Epoch 10/100
10/10 - 0s - loss: 762.9703
Epoch 11/100
10/10 - 0s - loss: 658.8525
Epoch 12/100
10/10 - 0s - loss: 637.1659
Epoch 13/100
10/10 - 0s - loss: 626.1915
Epoch 14/100
10/10 - 0s - loss: 617.6251
Epoch 15/100
10/10 - 0s - loss: 608.6450
Epoch 16/100
10/10 - 0s - loss: 600.1658
Epoch 17/100
10/10 - 0s - loss: 591.4016
Epoch 18/100
10/10 - 0s - loss: 583.3783
Epoch 19/100
10/10 - 0s - loss: 575.1562
Epoch 20/100
10/10 - 0s - loss: 567.8523
Epoch 21/100
10/10 - 0s - loss: 560.1048
Epoch 22/100
10/10 - 0s - loss: 552.1219
Epoch 23/100
10/10 - 0s - loss: 543.6422
Epoch 24/100
10/10 - 0s - loss: 536.8891
Epoch 25/100
10/10 - 0s - loss: 528.4817
Epoch 26/100
10/10 - 0s - loss: 521.0055
Epoch 27/100
10/10 - 0s - loss: 513.7687
Epoch 28/100
10/10 - 0s - loss: 507.2943
Epoch 29/100
10/10 - 0s - loss: 500.4572
Epoch 30/100
10/10 - 0s - loss: 494.2512
Epoch 31/100
10/10 - 0s - loss: 487.0005
Epoch 32/100
10/10 - 0s - loss: 480.3865
Epoch 33/100
10/10 - 0s - loss: 473.1834
Epoch 34/100
10/10 - 0s - loss: 466.0891
Epoch 35/100
10/10 - 0s - loss: 460.1791
Epoch 36/100
10/10 - 0s - loss: 453.8961
Epoch 37/100
10/10 - 0s - loss: 448.2049
Epoch 38/100
10/10 - 0s - loss: 441.8880
Epoch 39/100
10/10 - 0s - loss: 436.9301
Epoch 40/100
10/10 - 0s - loss: 431.0005
Epoch 41/100
10/10 - 0s - loss: 425.7435
Epoch 42/100
10/10 - 0s - loss: 421.7666
Epoch 43/100
10/10 - 0s - loss: 416.4485
Epoch 44/100
10/10 - 0s - loss: 411.2410
Epoch 45/100
10/10 - 0s - loss: 406.9618
Epoch 46/100
10/10 - 0s - loss: 402.4364
Epoch 47/100
10/10 - 0s - loss: 397.9531
Epoch 48/100
10/10 - 0s - loss: 393.8051
Epoch 49/100
10/10 - 0s - loss: 389.6237
Epoch 50/100
10/10 - 0s - loss: 385.6505
Epoch 51/100
10/10 - 0s - loss: 381.8678
Epoch 52/100
10/10 - 0s - loss: 377.7309
Epoch 53/100
10/10 - 0s - loss: 374.2075
Epoch 54/100
10/10 - 0s - loss: 370.4079
Epoch 55/100
10/10 - 0s - loss: 366.2726
Epoch 56/100
10/10 - 0s - loss: 363.4797
Epoch 57/100
10/10 - 0s - loss: 359.3339
Epoch 58/100
10/10 - 0s - loss: 355.7738
Epoch 59/100
10/10 - 0s - loss: 352.9388
Epoch 60/100
10/10 - 0s - loss: 349.2409
Epoch 61/100
10/10 - 0s - loss: 345.5044
Epoch 62/100
10/10 - 0s - loss: 342.6228
Epoch 63/100
10/10 - 0s - loss: 339.1511
Epoch 64/100
10/10 - 0s - loss: 336.1087
Epoch 65/100
10/10 - 0s - loss: 333.7360
Epoch 66/100
10/10 - 0s - loss: 330.0331
Epoch 67/100
10/10 - 0s - loss: 327.2989
Epoch 68/100
10/10 - 0s - loss: 324.1208
Epoch 69/100
10/10 - 0s - loss: 321.3129
Epoch 70/100
10/10 - 0s - loss: 318.4279
Epoch 71/100
10/10 - 0s - loss: 316.0666
Epoch 72/100
10/10 - 0s - loss: 312.7806
Epoch 73/100
10/10 - 0s - loss: 309.9690
Epoch 74/100
10/10 - 0s - loss: 308.0900
Epoch 75/100
10/10 - 0s - loss: 304.6187
Epoch 76/100
10/10 - 0s - loss: 302.5384
Epoch 77/100
10/10 - 0s - loss: 299.6076
Epoch 78/100
10/10 - 0s - loss: 296.9778
Epoch 79/100
10/10 - 0s - loss: 294.6412
Epoch 80/100
10/10 - 0s - loss: 292.2493
Epoch 81/100
10/10 - 0s - loss: 289.5338
Epoch 82/100
10/10 - 0s - loss: 287.0974
Epoch 83/100
10/10 - 0s - loss: 284.7474
Epoch 84/100
10/10 - 0s - loss: 282.9330
Epoch 85/100
10/10 - 0s - loss: 280.2726
Epoch 86/100
10/10 - 0s - loss: 277.7631
Epoch 87/100
10/10 - 0s - loss: 275.8971
Epoch 88/100
10/10 - 0s - loss: 273.4444
Epoch 89/100
10/10 - 0s - loss: 271.3917
Epoch 90/100
10/10 - 0s - loss: 269.0938
Epoch 91/100
10/10 - 0s - loss: 266.9899
Epoch 92/100
10/10 - 0s - loss: 264.9448
Epoch 93/100
10/10 - 0s - loss: 262.8655
Epoch 94/100
10/10 - 0s - loss: 260.9112
Epoch 95/100
10/10 - 0s - loss: 258.9607
Epoch 96/100
10/10 - 0s - loss: 256.9377
Epoch 97/100
10/10 - 0s - loss: 254.9040
Epoch 98/100
10/10 - 0s - loss: 253.2966
Epoch 99/100
10/10 - 0s - loss: 251.2166
Epoch 100/100
10/10 - 0s - loss: 249.0430

In [14]:
loss = model.evaluate(X_test, y_test)
y_hat = model.predict(X_test)
loss

10/10 [==============================] - 0s 1ms/step - loss: 247.9104

247.91036987304688

Create a list of mean squared errors and  the standard deviation of the mean squared errors

In [15]:
total_mean_squared_errors = 50
mean_squared_errors = []
for i in range(0,total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=4)
    model.fit(X_train, y_train, epochs=100, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_hat = model.predict(X_test)
    errors = mean_squared_error(y_test, y_hat)
    mean_squared_errors.append(errors)
    
mean = np.mean(np.array(mean_squared_errors))
STD = np.std(mean_squared_errors)
print("Mean: ",str(mean), "Standard Deviation:",str(STD))

MSE 1: 113.57733917236328
MSE 2: 75.41046142578125
MSE 3: 69.06085968017578
MSE 4: 64.89927673339844
MSE 5: 61.562904357910156
MSE 6: 56.144752502441406
MSE 7: 52.804264068603516
MSE 8: 52.99995040893555
MSE 9: 51.60687255859375
MSE 10: 53.63710403442383
MSE 11: 51.21757888793945
MSE 12: 51.47074508666992
MSE 13: 51.05842971801758
MSE 14: 50.23651885986328
MSE 15: 52.61231994628906
MSE 16: 51.24005889892578
MSE 17: 53.33460235595703
MSE 18: 53.12024688720703
MSE 19: 55.367713928222656
MSE 20: 50.422733306884766
MSE 21: 53.6462516784668
MSE 22: 50.93581771850586
MSE 23: 49.97244644165039
MSE 24: 50.3879280090332
MSE 25: 50.49930953979492
MSE 26: 50.272247314453125
MSE 27: 52.43343734741211
MSE 28: 50.51264572143555
MSE 29: 50.87907791137695
MSE 30: 51.557743072509766
MSE 31: 50.55476379394531
MSE 32: 50.53513717651367
MSE 33: 50.04345703125
MSE 34: 51.9278678894043
MSE 35: 50.3251953125
MSE 36: 51.838623046875
MSE 37: 50.28825759887695
MSE 38: 57.006168365478516
MSE 39: 50.375728607177734
MSE 40: 50.35607147216797
MSE 41: 51.82572937011719
MSE 42: 51.197052001953125
MSE 43: 50.64188766479492
MSE 44: 51.999969482421875
MSE 45: 50.426673889160156
MSE 46: 51.991973876953125
MSE 47: 52.739219665527344
MSE 48: 50.530147552490234
MSE 49: 50.291160583496094
MSE 50: 52.37018585205078
Mean:  54.20293744043548 Standard Deviation: 9.762257482202624

In [16]:
experiment_name='Experiment'
MMSE='MMSE'
Standard_Dev='STD'
report_header = [experiment_name, MMSE,Standard_Dev]
def get_report(name_of_experiment, mean, STD):
    
    values = [[experiment_name, mean, STD]]

    return pd.DataFrame(columns=report_header, data=values)

experiment_name='Experiment3'

get_report(experiment_name, mean, STD)

    Experiment       MMSE       STD
0  Experiment3  54.202937  9.762257

We see an increase in the mmse as we increase the number of epochs, but we see a decreasse in the standard deviation