In [120]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from sklearn.metrics import mean_squared_error
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

Download the data

In [121]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [122]:
concrete_data.shape

(1030, 9)

In [123]:
#Let's check the dataset for any missing values.
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [124]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

## Split data into predictors and target
The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [125]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [126]:
#Let's do a quick sanity check of the predictors and the target dataframes.
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [127]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

# Build a Neural Network

In [128]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='Adam', loss='mean_squared_error')
    return model

In [129]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=4)

In [130]:
# build the model
model = regression_model()

# Train and Test the Network

In [131]:
# build the model
model.fit( X_test, y_test,epochs=50, verbose=2)

Epoch 1/50
10/10 - 0s - loss: 466526.4062
Epoch 2/50
10/10 - 0s - loss: 364825.5938
Epoch 3/50
10/10 - 0s - loss: 279862.3438
Epoch 4/50
10/10 - 0s - loss: 209829.8906
Epoch 5/50
10/10 - 0s - loss: 153664.4219
Epoch 6/50
10/10 - 0s - loss: 109105.8516
Epoch 7/50
10/10 - 0s - loss: 74848.3594
Epoch 8/50
10/10 - 0s - loss: 49384.6211
Epoch 9/50
10/10 - 0s - loss: 31098.3164
Epoch 10/50
10/10 - 0s - loss: 18709.9883
Epoch 11/50
10/10 - 0s - loss: 10770.7705
Epoch 12/50
10/10 - 0s - loss: 5990.6465
Epoch 13/50
10/10 - 0s - loss: 3428.8992
Epoch 14/50
10/10 - 0s - loss: 2064.7986
Epoch 15/50
10/10 - 0s - loss: 1471.2617
Epoch 16/50
10/10 - 0s - loss: 1222.7831
Epoch 17/50
10/10 - 0s - loss: 1116.8145
Epoch 18/50
10/10 - 0s - loss: 1082.8727
Epoch 19/50
10/10 - 0s - loss: 1062.0381
Epoch 20/50
10/10 - 0s - loss: 1047.3596
Epoch 21/50
10/10 - 0s - loss: 1030.8287
Epoch 22/50
10/10 - 0s - loss: 1014.7631
Epoch 23/50
10/10 - 0s - loss: 999.3878
Epoch 24/50
10/10 - 0s - loss: 983.0461
Epoch 25/50
10/10 - 0s - loss: 968.3365
Epoch 26/50
10/10 - 0s - loss: 952.0953
Epoch 27/50
10/10 - 0s - loss: 937.6133
Epoch 28/50
10/10 - 0s - loss: 921.6824
Epoch 29/50
10/10 - 0s - loss: 906.8486
Epoch 30/50
10/10 - 0s - loss: 892.1418
Epoch 31/50
10/10 - 0s - loss: 877.1288
Epoch 32/50
10/10 - 0s - loss: 863.6733
Epoch 33/50
10/10 - 0s - loss: 850.2366
Epoch 34/50
10/10 - 0s - loss: 835.4248
Epoch 35/50
10/10 - 0s - loss: 821.5792
Epoch 36/50
10/10 - 0s - loss: 808.0420
Epoch 37/50
10/10 - 0s - loss: 795.2257
Epoch 38/50
10/10 - 0s - loss: 782.5800
Epoch 39/50
10/10 - 0s - loss: 769.9097
Epoch 40/50
10/10 - 0s - loss: 758.0492
Epoch 41/50
10/10 - 0s - loss: 744.8855
Epoch 42/50
10/10 - 0s - loss: 733.1882
Epoch 43/50
10/10 - 0s - loss: 721.5057
Epoch 44/50
10/10 - 0s - loss: 709.7195
Epoch 45/50
10/10 - 0s - loss: 698.6028
Epoch 46/50
10/10 - 0s - loss: 688.1630
Epoch 47/50
10/10 - 0s - loss: 678.0016
Epoch 48/50
10/10 - 0s - loss: 667.2280
Epoch 49/50
10/10 - 0s - loss: 658.0757
Epoch 50/50
10/10 - 0s - loss: 648.0792

In [132]:
loss = model.evaluate(X_test, y_test)
y_hat = model.predict(X_test)
loss

10/10 [==============================] - 0s 1ms/step - loss: 641.5045

641.5044555664062

Create a list of mean squared errors and  the standard deviation of the mean squared errors

In [133]:
total_mean_squared_errors = 50
mean_squared_errors = []
for i in range(0,total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=4)
    model.fit(X_train, y_train, epochs=50, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_hat = model.predict(X_test)
    errors = mean_squared_error(y_test, y_hat)
    mean_squared_errors.append(errors)
    
mean = np.mean(np.array(mean_squared_errors))
STD = np.std(mean_squared_errors)
print("Mean: ",str(mean), "Standard Deviation:",str(STD))

MSE 1: 170.70411682128906
MSE 2: 131.604248046875
MSE 3: 123.46228790283203
MSE 4: 128.43399047851562
MSE 5: 121.77811431884766
MSE 6: 123.4268569946289
MSE 7: 123.38475799560547
MSE 8: 123.17608642578125
MSE 9: 121.41331481933594
MSE 10: 134.7980194091797
MSE 11: 120.71571350097656
MSE 12: 122.34505462646484
MSE 13: 124.52291870117188
MSE 14: 134.3594970703125
MSE 15: 127.07807159423828
MSE 16: 121.82958984375
MSE 17: 130.2793731689453
MSE 18: 124.61528778076172
MSE 19: 123.471923828125
MSE 20: 123.24732208251953
MSE 21: 122.92981719970703
MSE 22: 123.33406829833984
MSE 23: 121.20774841308594
MSE 24: 123.36974334716797
MSE 25: 141.4845733642578
MSE 26: 121.41393280029297
MSE 27: 133.6907958984375
MSE 28: 122.83101654052734
MSE 29: 142.86436462402344
MSE 30: 124.67281341552734
MSE 31: 121.6484375
MSE 32: 121.27850341796875
MSE 33: 143.1299285888672
MSE 34: 141.6340789794922
MSE 35: 125.16947174072266
MSE 36: 123.33422088623047
MSE 37: 123.24044036865234
MSE 38: 131.56820678710938
MSE 39: 103.56640625
MSE 40: 78.9245376586914
MSE 41: 85.52320861816406
MSE 42: 71.95137023925781
MSE 43: 64.47208404541016
MSE 44: 57.64208984375
MSE 45: 54.52865982055664
MSE 46: 53.788551330566406
MSE 47: 53.91001892089844
MSE 48: 53.05493927001953
MSE 49: 56.10120391845703
MSE 50: 53.59263610839844
Mean:  113.0100936708826 Standard Deviation: 28.949600729208385