In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from sklearn.metrics import mean_squared_error
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

Download the data

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
#Let's check the dataset for any missing values.
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

## Split data into predictors and target
The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
#Let's do a quick sanity check of the predictors and the target dataframes.
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
n_cols = predictors.shape[1]

# Build a Neural Network

In [10]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=4)

In [12]:
# build the model
model = regression_model()

# Train and Test the Network

In [13]:
# build the model
model.fit( X_test, y_test,epochs=50, verbose=2)

Epoch 1/50
10/10 - 0s - loss: 6169.5645
Epoch 2/50
10/10 - 0s - loss: 3723.8308
Epoch 3/50
10/10 - 0s - loss: 3522.9846
Epoch 4/50
10/10 - 0s - loss: 3102.9326
Epoch 5/50
10/10 - 0s - loss: 2915.3071
Epoch 6/50
10/10 - 0s - loss: 2671.4346
Epoch 7/50
10/10 - 0s - loss: 2499.9167
Epoch 8/50
10/10 - 0s - loss: 2322.0835
Epoch 9/50
10/10 - 0s - loss: 2201.2175
Epoch 10/50
10/10 - 0s - loss: 2056.7620
Epoch 11/50
10/10 - 0s - loss: 1931.9855
Epoch 12/50
10/10 - 0s - loss: 1822.9938
Epoch 13/50
10/10 - 0s - loss: 1701.6871
Epoch 14/50
10/10 - 0s - loss: 1610.8539
Epoch 15/50
10/10 - 0s - loss: 1518.9344
Epoch 16/50
10/10 - 0s - loss: 1425.9821
Epoch 17/50
10/10 - 0s - loss: 1347.0446
Epoch 18/50
10/10 - 0s - loss: 1274.9208
Epoch 19/50
10/10 - 0s - loss: 1203.0922
Epoch 20/50
10/10 - 0s - loss: 1135.6112
Epoch 21/50
10/10 - 0s - loss: 1069.4152
Epoch 22/50
10/10 - 0s - loss: 1010.9938
Epoch 23/50
10/10 - 0s - loss: 962.9284
Epoch 24/50
10/10 - 0s - loss: 909.6223
Epoch 25/50
10/10 - 0s - loss: 862.1072
Epoch 26/50
10/10 - 0s - loss: 818.1163
Epoch 27/50
10/10 - 0s - loss: 779.1123
Epoch 28/50
10/10 - 0s - loss: 736.8206
Epoch 29/50
10/10 - 0s - loss: 710.7871
Epoch 30/50
10/10 - 0s - loss: 668.3445
Epoch 31/50
10/10 - 0s - loss: 636.4854
Epoch 32/50
10/10 - 0s - loss: 605.1473
Epoch 33/50
10/10 - 0s - loss: 577.0735
Epoch 34/50
10/10 - 0s - loss: 560.6121
Epoch 35/50
10/10 - 0s - loss: 532.0468
Epoch 36/50
10/10 - 0s - loss: 496.3160
Epoch 37/50
10/10 - 0s - loss: 482.9656
Epoch 38/50
10/10 - 0s - loss: 467.5600
Epoch 39/50
10/10 - 0s - loss: 435.9800
Epoch 40/50
10/10 - 0s - loss: 419.8291
Epoch 41/50
10/10 - 0s - loss: 405.6084
Epoch 42/50
10/10 - 0s - loss: 383.1773
Epoch 43/50
10/10 - 0s - loss: 369.9477
Epoch 44/50
10/10 - 0s - loss: 352.3970
Epoch 45/50
10/10 - 0s - loss: 338.5356
Epoch 46/50
10/10 - 0s - loss: 331.8616
Epoch 47/50
10/10 - 0s - loss: 314.3556
Epoch 48/50
10/10 - 0s - loss: 298.4449
Epoch 49/50
10/10 - 0s - loss: 288.1865
Epoch 50/50
10/10 - 0s - loss: 278.5169

In [14]:
loss = model.evaluate(X_test, y_test)
y_hat = model.predict(X_test)
loss

10/10 [==============================] - 0s 2ms/step - loss: 270.2638

270.2637939453125

Create a list of mean squared errors and  the standard deviation of the mean squared errors

In [15]:
total_mean_squared_errors = 50
mean_squared_errors = []
for i in range(0,total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=4)
    model.fit(X_train, y_train, epochs=50, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_hat = model.predict(X_test)
    errors = mean_squared_error(y_test, y_hat)
    mean_squared_errors.append(errors)
    
mean = np.mean(np.array(mean_squared_errors))
STD = np.std(mean_squared_errors)
print("Mean: ",str(mean), "Standard Deviation:",str(STD))

MSE 1: 116.7201156616211
MSE 2: 116.86056518554688
MSE 3: 114.36151123046875
MSE 4: 121.97289276123047
MSE 5: 112.69996643066406
MSE 6: 117.98877716064453
MSE 7: 114.45752716064453
MSE 8: 134.91880798339844
MSE 9: 132.8328399658203
MSE 10: 113.73966217041016
MSE 11: 115.7122802734375
MSE 12: 113.94227600097656
MSE 13: 113.83232116699219
MSE 14: 114.64460754394531
MSE 15: 118.24707794189453
MSE 16: 114.10723876953125
MSE 17: 113.95895385742188
MSE 18: 115.16373443603516
MSE 19: 114.27476501464844
MSE 20: 115.20381927490234
MSE 21: 149.15737915039062
MSE 22: 115.6385498046875
MSE 23: 115.52606964111328
MSE 24: 64.54090118408203
MSE 25: 49.61415481567383
MSE 26: 47.8180046081543
MSE 27: 55.242523193359375
MSE 28: 47.88768768310547
MSE 29: 47.49251174926758
MSE 30: 47.49810028076172
MSE 31: 47.79800796508789
MSE 32: 50.55666732788086
MSE 33: 47.84447479248047
MSE 34: 49.54937744140625
MSE 35: 47.83056640625
MSE 36: 49.48836898803711
MSE 37: 48.32736587524414
MSE 38: 48.25013732910156
MSE 39: 48.184654235839844
MSE 40: 48.79462432861328
MSE 41: 47.809486389160156
MSE 42: 53.06937789916992
MSE 43: 55.29771041870117
MSE 44: 47.509437561035156
MSE 45: 51.075313568115234
MSE 46: 54.764644622802734
MSE 47: 47.971160888671875
MSE 48: 47.7152099609375
MSE 49: 47.50911331176758
MSE 50: 47.1844482421875
Mean:  81.45171609481591 Standard Deviation: 34.81138253425126

In [16]:
experiment_name='Experiment'
MMSE='MMSE'
Standard_Dev='STD'
report_header = [experiment_name, MMSE,Standard_Dev]
def get_report(name_of_experiment, mean, STD):
    
    values = [[experiment_name, mean, STD]]

    return pd.DataFrame(columns=report_header, data=values)

experiment_name='Experiment1'

get_report(experiment_name, mean, STD)

    Experiment       MMSE        STD
0  Experiment1  81.451716  34.811383