In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf
from tensorflow import keras
from sklearn.metrics import mean_squared_error
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

Download the data

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
#Let's check the dataset for any missing values.
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

## Split data into predictors and target
The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

In [7]:
#Let's do a quick sanity check of the predictors and the target dataframes.
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
n_cols = predictors.shape[1]

# Build a Neural Network

In [10]:
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=4)

In [12]:
# build the model
model = regression_model()

# Train and Test the Network

In [13]:
# build the model
model.fit( X_test, y_test,epochs=50, verbose=2)

Epoch 1/50
10/10 - 0s - loss: 3099.6184
Epoch 2/50
10/10 - 0s - loss: 2183.7566
Epoch 3/50
10/10 - 0s - loss: 1805.6841
Epoch 4/50
10/10 - 0s - loss: 1616.6299
Epoch 5/50
10/10 - 0s - loss: 1419.3987
Epoch 6/50
10/10 - 0s - loss: 1254.9482
Epoch 7/50
10/10 - 0s - loss: 1132.2223
Epoch 8/50
10/10 - 0s - loss: 994.7608
Epoch 9/50
10/10 - 0s - loss: 897.7646
Epoch 10/50
10/10 - 0s - loss: 793.7001
Epoch 11/50
10/10 - 0s - loss: 714.9427
Epoch 12/50
10/10 - 0s - loss: 652.8863
Epoch 13/50
10/10 - 0s - loss: 612.0615
Epoch 14/50
10/10 - 0s - loss: 561.5140
Epoch 15/50
10/10 - 0s - loss: 528.0734
Epoch 16/50
10/10 - 0s - loss: 491.8745
Epoch 17/50
10/10 - 0s - loss: 464.7875
Epoch 18/50
10/10 - 0s - loss: 435.4304
Epoch 19/50
10/10 - 0s - loss: 411.5431
Epoch 20/50
10/10 - 0s - loss: 389.5909
Epoch 21/50
10/10 - 0s - loss: 372.1643
Epoch 22/50
10/10 - 0s - loss: 350.9237
Epoch 23/50
10/10 - 0s - loss: 333.6387
Epoch 24/50
10/10 - 0s - loss: 318.2438
Epoch 25/50
10/10 - 0s - loss: 303.9732
Epoch 26/50
10/10 - 0s - loss: 295.1960
Epoch 27/50
10/10 - 0s - loss: 283.6692
Epoch 28/50
10/10 - 0s - loss: 272.6863
Epoch 29/50
10/10 - 0s - loss: 263.2139
Epoch 30/50
10/10 - 0s - loss: 255.0747
Epoch 31/50
10/10 - 0s - loss: 247.8304
Epoch 32/50
10/10 - 0s - loss: 240.8174
Epoch 33/50
10/10 - 0s - loss: 234.3140
Epoch 34/50
10/10 - 0s - loss: 228.3003
Epoch 35/50
10/10 - 0s - loss: 223.1353
Epoch 36/50
10/10 - 0s - loss: 216.6106
Epoch 37/50
10/10 - 0s - loss: 212.2703
Epoch 38/50
10/10 - 0s - loss: 208.2435
Epoch 39/50
10/10 - 0s - loss: 208.4032
Epoch 40/50
10/10 - 0s - loss: 201.5668
Epoch 41/50
10/10 - 0s - loss: 199.8056
Epoch 42/50
10/10 - 0s - loss: 196.4716
Epoch 43/50
10/10 - 0s - loss: 192.8864
Epoch 44/50
10/10 - 0s - loss: 185.1092
Epoch 45/50
10/10 - 0s - loss: 185.0744
Epoch 46/50
10/10 - 0s - loss: 181.8801
Epoch 47/50
10/10 - 0s - loss: 175.4582
Epoch 48/50
10/10 - 0s - loss: 174.2906
Epoch 49/50
10/10 - 0s - loss: 173.2303
Epoch 50/50
10/10 - 0s - loss: 168.9626

In [14]:
loss = model.evaluate(X_test, y_test)
y_hat = model.predict(X_test)
loss

10/10 [==============================] - 0s 1ms/step - loss: 165.6855

165.68553161621094

Create a list of mean squared errors and  the standard deviation of the mean squared errors

In [15]:
total_mean_squared_errors = 50
mean_squared_errors = []
for i in range(0,total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.3, random_state=4)
    model.fit(X_train, y_train, epochs=50, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_hat = model.predict(X_test)
    errors = mean_squared_error(y_test, y_hat)
    mean_squared_errors.append(errors)
    
mean = np.mean(np.array(mean_squared_errors))
STD = np.std(mean_squared_errors)
print("Mean: ",str(mean), "Standard Deviation:",str(STD))

MSE 1: 96.58116912841797
MSE 2: 77.74585723876953
MSE 3: 71.480712890625
MSE 4: 63.10008239746094
MSE 5: 55.628639221191406
MSE 6: 54.54931640625
MSE 7: 51.04545211791992
MSE 8: 53.50862121582031
MSE 9: 50.16208267211914
MSE 10: 51.15767288208008
MSE 11: 48.87102508544922
MSE 12: 56.754425048828125
MSE 13: 48.39369201660156
MSE 14: 57.13848876953125
MSE 15: 48.530635833740234
MSE 16: 57.76003646850586
MSE 17: 49.81852340698242
MSE 18: 46.47519302368164
MSE 19: 51.48841094970703
MSE 20: 46.11126708984375
MSE 21: 45.450111389160156
MSE 22: 47.77904510498047
MSE 23: 47.648040771484375
MSE 24: 50.69515609741211
MSE 25: 47.28742599487305
MSE 26: 45.470211029052734
MSE 27: 46.04563522338867
MSE 28: 47.12775421142578
MSE 29: 49.02035903930664
MSE 30: 44.86152267456055
MSE 31: 44.54441452026367
MSE 32: 48.14771270751953
MSE 33: 44.34782028198242
MSE 34: 45.512245178222656
MSE 35: 45.16706848144531
MSE 36: 52.07530212402344
MSE 37: 42.32514572143555
MSE 38: 42.380001068115234
MSE 39: 46.39668655395508
MSE 40: 42.089759826660156
MSE 41: 42.799354553222656
MSE 42: 43.35837936401367
MSE 43: 40.883853912353516
MSE 44: 40.94160461425781
MSE 45: 44.076637268066406
MSE 46: 40.16609191894531
MSE 47: 39.880859375
MSE 48: 40.18419647216797
MSE 49: 39.64601135253906
MSE 50: 39.52276611328125
Mean:  49.442649216808306 Standard Deviation: 10.041688254014057